<div class="grid grid-rows-1 grid-flow-col gap-4 md:gap-0 md:grid-cols-3">
  <!-- CHATS -->
  <div class="md:col-span-1">
    <div class="h-screen bg-[#212830] overflow-scroll border-r border-r-0.5 border-gray-900 w-max">
        <div class="max-w-md mx-auto shadow-lg rounded-lg overflow-hidden md:max-w-lg">
            <div class="md:flex">
                <div class="p-4">
                    <div class="relative">
                      <h2 class="text-gray-100 text-2xl font-medium mb-2">
                        Your recent chats
                      </h2>
                      <input type="text" class="w-full h-8 rounded focus:outline-none px-3 focus:shadow-md mb-2" placeholder="Search...">
                      <i class="fa fa-search absolute right-3 top-4 text-gray-300"></i>
                    </div>
                    <ul>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                      <li class="flex justify-between items-center bg-white mt-2 p-2 hover:shadow-lg rounded cursor-pointer transition">
                        <div class="flex ml-2">
                          <img src="https://i.imgur.com/aq39RMA.jpg" width="40" height="40" class="rounded-full">
                          <div class="flex flex-col ml-2">
                            <span class="font-medium text-black">Jessica Koel</span>
                            <span class="text-sm text-gray-400 truncate w-full">Hey, Joel, I here to help you out please tell me</span>
                          </div>
                        </div>
                        <div class="flex flex-col items-center">
                          <span class="text-gray-300">11:26</span>
                          <i class="fa fa-star text-green-400"></i>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- ACTIVE CHAT -->
  <div class="md:col-span-2 bg-red-200">
    <div class="flex items-center justify-center">
      <h2 class="text-white font-medium text-3xl text-center">Open a chat</h2>
    </div>
  </div>
</div>
